.container {
    width: 100%;
    height: 900px;
}

.mainblock {
    width: 79.6%;
    height: 900px;
    float: left;
}

.secondblock {
    width: 20%;
    height: 900px;
    float: right;
}

.banner {
    width: 100%%;
    height: 150px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    background-color: #000000;
    margin-top: 2.2px;
}

#bannertext {
    font-family: "Times New Roman";
    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: 50px;
    margin-top: 45px;
}

.bannerimg {
    margin-top: 25px;
    margin-left: 10px;
    height: 100px;
    float: left;
}

.table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    cursor:pointer;
}

.cell_1 {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    min-height: 25%;
}

.cell_1_hover {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #1a1a1a;
    min-height: 25%;
}

.cell_2 {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #062F4F;
    min-height: 25%;
}

.cell_2_hover {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #094777;
    min-height: 25%;
}

.cell_3 {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #813772;
    min-height: 25%;
}

.cell_3_hover {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #a1458e;
    min-height: 25%;
}

.cell_4 {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #B82601;
    min-height: 25%;
}

.cell_4_hover {
    font-family: "Times New Roman";
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #931e00;
    min-height: 25%;
}

a {
    text-decoration: none;
    color: white;
}

#containerslide {
    width: 100%;
    height: 742px;
    position: relative;
    overflow: hidden;
    background: #ff00ff;
}

#slideshow {
    height: 100%;
    width: 100%;
}

#slideshow img {
    height: 100%;
    width: 100%;
}

#pager {
    height: fill;
    width: 100%;
    position: absolute;
    bottom: 5%;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

#pager:hover {
    opacity: 1;
}

#prev {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 10px;
}

#next {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 10px;
}

#textbox {
    min-width: 49.7%;
    min-height: 100%;
    border-color: black;
    border-style: solid;
    background-color: #062F4F;
    font-style: italic;
    font-family: times;
    text-align: center;
    font-size: 60px;
    position: absolute;
    margin-left: 50%;
    color: white;
}

#map {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#mapcontainer {
    width: 100%;
    height: 82.5%;
    position: relative;
}

#contact {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #B82601;
}

#chartarea{
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  background-color: #B82601;
}

#future{
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  background-color: #813772;
}

#alert{
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  background-color: red;
}

.hide{
  display:none;
  background-color: #B82601;
}

.show{
  display: block;
  width: 100%;
  height: 500px;
  overflow:hidden;
}

#currentpicture{
  height:50%;
  width:100%;
  position: relative;
}

#picture{
  width: 50%;
  margin-left: 25%;
  height: 100%;
  position: absolute;
}

#currentdata{
  text-align: center;
  font-size: 40px;
  color: white;
}

.body{
  height: 745px;
  border-color: black;
  border-style: solid;
  border-width: thin;

}

.signup{
  padding-top: 10%;
  overflow: hidden;
  text-align: center;
}

input[type=text], input[type=password] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}

#leftblock{
  width: 30%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
}

#rightblock{
  width:70%;
  float: right;
  height: 100%;
}

#timebox{
  width:100%;
  float: left;
  height: 20%;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
}

#timeboxtext{
  padding: 5%;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-family: sans-serif;
}

#humidity{
  width: 50%;
  float: left;
  height: 40%;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  background-color: #094777;
}

#humiditytext{
  font-size: 150px;
  text-align: center;
  margin: 50px;
}

#lux{
  width: 50%;
  float: right;
  height: 40%;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  background-color: #a1458e;
}

#luxtext{
  font-size: 150px;
  text-align: center;
  margin: 50px;
}

#pressure{
  width: 100%;
  float:left;
  height:40%;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  background-color: #931e00;
}

#pressuretext{
  font-size: 150px;
  text-align: center;
  margin: 50px;
}

/* Disclaimer: the following code has been taken from : https://codepen.io/developer007/pen/NNdBQw */
thermometer .goal {
    position: absolute;
    right: 0;
    top: 0;
}
#thermometer .amount {
    border-top: 1px solid #006600;
    color: black;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer .progress .amount {
    border-top: 1px solid #006600;
    color: black;
    left: 0;
    padding: 0 0 0 75px;
    position: absolute;
}
#thermometer {
    border-radius: 12px;
    height: 300px;
    margin-top:30%;
    position: relative;
}
#thermometer .track {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 8px;
    height: 400px;
    left: 10px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 30px;
}
#thermometer .progress {
    background: red none repeat scroll 0 0;
    border-radius: 23px 23px 0 0;
    bottom: 0;
    height: 0;
    left: 5px;
    margin-bottom: 0 !important;
    position: absolute;
    width: 69%;
    z-index: 100;
}
#thermometer .goal {
    position: absolute;
    right: 0;
    top: 0;
}
#thermometer .amount {
    border-top: 1px solid #006600;
    color: black;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer .progress .amount {
    border-top: 1px solid #006600;
    color: black;
    left: 0;
    padding: 0 0 0 75px;
    position: absolute;
}
.bulb {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -42px;
    display: block;
    height: 40px;
    left: -14px;
    padding: 10px;
    position: absolute;
    width: 43px;
}
.inner-bulb {
    background-color: red;
    border-radius: 50%;
    height: 40px;
    left: 0;
    position: relative;
    top: 0;
    width: 40px;
}
/*end of taken code */

/*///////////////////////////////////////////////////////////////////////////////
// The following code uses the css files from simpleweatherjs */

body {
  padding: 10px 0;
}

#weather {
  width: 100%;
  height: 100%;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

/* //////////////////////////////////////////////////////////// */
